.breadcrumb {
	font-size: 20px;
		margin-bottom: 15px;
		display: inline-flex;
		flex-wrap: wrap;
		gap: 5px;
		position: relative;
		z-index: 3;
}

.breadcrumbLink {
	color: #dde5ec;
	text-decoration: underline;
	transition: color 0.2s ease;
}

.breadcrumbLink:hover {
	color: #d8e7f6;
}

.separator {
	margin: 0 8px;
	color: #b9c5dc;
}

.breadcrumbCurrent {
	color: #f6f6f7;
	font-weight: regular;
}

