@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
	--foreground: #171717;
	--c-primary: #064469;
	--c-primary-dark: #072D44;
	--c-bg-blur: rgba(255, 255, 255, 0.85);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #ededed;
	}
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	background-color: #000;
	color: var(--foreground);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;