/* =======================
   globals.css (Глобальные стили)
   ======================= */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
	--background: #ffffff;
	--foreground: #171717;
	--c-primary: #064469;
	--c-primary-dark: #072D44;
	--c-bg-blur: rgba(255, 255, 255, 0.85);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	color: var(--foreground);
	background: var(--background);
	font-family: 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;